<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorator="adminContentOnly">
<head>
</head>
<body>
  <div layout:fragment="content">
    <div class="container">
        <div class="row">
                <div class="panel panel-default">
                    <div class="panel-heading">
                    <ul class="mod-step">
				        <li class="on"><span>メール送信</span></li>
				        <li><span>入力</span></li>
				        <li><span>確認</span></li>
				        <li><span>完了</span></li>
				    </ul>
				    <hr>
                     <h3 class="panel-title">
                     	登録したいメールアドレスを入力して、送信ボタンを押して下さい。<br>本登録に必要なURLをメールでお送りします。
					 </h3>
                    </div>
                    <div class="panel-body">
                        <form role="form" method="post" th:action="@{/account/reg/index}" th:object="${account}">
                            <fieldset>
                                <div class="form-group">
                                    <input class="form-control" placeholder="E-mail" name="email" type="text" th:field="*{email}" autofocus="" />
                                    <p class="color-red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">...</p>
                                </div>
                                <!-- Change this to a button or input when using this as a form -->
                                <input type="submit" value="送信" class="btn btn-lg btn-success btn-block" />
                            </fieldset>
                        </form>
                    </div>
                </div>
        </div>
        	  <div th:if="${errMessage}" class="col-lg-12" id = "alertMessage">
                  <div class="alert alert-danger bootstrap-admin-alert"><button type="button" class="close" data-dismiss="alert">×</button><p th:text="${errMessage}"></p></div>
             </div>
    </div>
  </div>
</body>

</html>
