<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorator="adminContentOnly">
<head>
</head>
<body>
  <div layout:fragment="content">
    <div class="container">
        <div class="row">
                <div class="panel panel-default">
                    <div class="panel-heading">
				    	<h2 class="panel-title">メール送信完了</h2>
                    </div>
                    <div class="panel-body">
						<p>新しいパスワードを<span th:text="${email}"></span>へメールを送りました。</P>
				    </div>
				    <hr>
                    <div class="panel-body">
					 <p>※5分経ってもメールが届かない方</p>
					 <p>・ドメイン指定受信など各メールフィルターの設定をされている方は、gmail.comのドメインからの受信ができるように設定してください。</p>
					 <p>・フリーメールアドレスをご利用のお客様は、迷惑メールフォルダやゴミ箱に振り分けられている可能性がありますので、そちらもご確認ください。</p>
                    </div>
                </div>
        </div>
    </div>
  </div>
</body>

</html>
