.margin-top-6{
	margin-top:6px;
}
.padding-bottom-6{
	padding-bottom:6px;
}
.margin-top-7{
	margin-top:7px;
}
.width-80{
	width: 80px;
}
.width-100{
	width:100px;
}
.width-150{
	width: 150px;
}
.width-180{
	width: 180px;
}
.width-250{
	width:250px;
}
.width-300{
	width: 300px;
}
.width-350{
	width: 350px;
}
.width-450{
	width:450px;
}
.width-500{
    width: 500px;
}
.color-red{
	color:red;
}
.margin-left-207{
	margin-left:207px;
}
.display-inline{
	display:inline;
}
.display-none{
    display:none;
}
.white-space-nowrap{
	white-space:nowrap;
}
.link_no_underline a:hover{
	 text-decoration: none;
  }
.margin-left-50{
    margin-left:50px;
}
.margin-top-5{
    margin-top:5px;
}
.margin-bottom-5{
    margin-bottom:5px;
}

.buttons-title{
    margin-top: 20px;
}
.buttons-group{
    margin-top: 10px;
}
.the-icons{
    margin-left: 0;
    list-style: none;
}
.the-icons li {
    float: left;
    width: 25%;
    line-height: 25px;
}
.panel-bootstrap-switch,
.panel-bootstrap-switch .bootstrap-admin-panel-content{
    float: left;
}
.panel-bootstrap-switch .buttons-group{
    margin-top: 0;
}
.panel-bootstrap-switch .buttons-group .has-switch{
    margin-top: 10px;
}
.panel-bootstrap-switch #btn-destroy-switch,
.panel-bootstrap-switch #btn-create{
    margin-top: 5px;
}
.panel-bootstrap-switch #btn-destroy-switch{
    margin-bottom: 10px;
}
.panel-bootstrap-switch .bootstrap-switch-footer{
    margin-top: 20px;
}
.resize-none{
    resize: none;
}
.short_hr {
    background-color: #fff;
    border-style: dotted;
    border-top: 1px dotted #bbb;
    width: 80%;
}
.font-weight-normal{
    font-weight: normal;
}
.font-red{
	color: #ea4843;
}
.font-blue{
	color: blue;
}
.font-description{
	color: #777;
}
.border-solid-ccc{
	border: 1px solid #ccc;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}
.display-none{
	display: none;
}
.position-fixed{
    position: fixed;
}
.processing-gif{
    top: 47%;
    left: 47%;
    height: 60px;
    width: 60px;
}
.margin-left-260{
	margin-left: 260px;
}
.width-200{
	width:200px;
}
.margin-left-800{
	margin-left:800px;
}
.margin-left-230{
	margin-left:230px ! important;
}
.padding-top-4{
	padding-top:4px;
}
.margin-left-5-important{
	margin-left:5px !important;
}
.margin-left-48{
    margin-left:-48px;
}
.margin-left-10{
    margin-left:10px;
}
.margin-left-20{
    margin-left:20px;
}
.padding-5 {
    padding: 5px;
}
.fnt10 {
	font-size: 10px;
}
.mod-step {
  display: table;
  table-layout: fixed;
  margin: 20px auto;
  padding-right: 15px;
}
.mod-step li {
  display: table-cell;
  padding: 0 6px;
  width: 155px;
}
.mod-step li span {
  display: block;
  text-align: center;
  position: relative;
  background: #d4d4d4;
  height: 45px;
  line-height: 45px;
  box-sizing: border-box;
  color: #fff;
  padding-left: 16px;
}
.mod-step li span:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  width: 0;
  border: 23px solid transparent;
  border-left: 17px solid #fff;
}
.mod-step li span:after {
  content: "";
  position: absolute;
  top: 0;
  right: -40px;
  height: 0;
  width: 0;
  border: 23px solid transparent;
  border-left: 17px solid #d4d4d4;
  z-index: 1;
}
.mod-step li.on span {
  background: #cc9900;
}
.mod-step li.on span:after {
  border-left-color: #cc9900;
}
ul.mylist{
list-style: none;
}

/**** "mylist" ÇÃíÜÇÃ <li> ****/
ul.mylist li{
line-height: 16px; /* âÊëúçÇÇ≥Ç∆ìØÇ∂ëÂÇ´Ç≥ */
font-size: 16px;
}

/**** "mylist" ÇÃíÜÇÃ <img> ****/
ul.mylist i{
width: 32px;
height: 32px;
vertical-align: top;
}
ul.mylist p{
	display:inline-block;
}
