<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorator="adminContentOnly">
<head>
</head>
<body>
  <div layout:fragment="content">
    <div class="container">
        <div class="row">
                <div class="panel panel-default">
                    <div class="panel-heading">
                    <ul class="mod-step">
				        <li><span>メール送信</span></li>
				        <li><span>入力</span></li>
				        <li class="on"><span>確認</span></li>
				        <li><span>完了</span></li>
				    </ul>
                    </div>
                    <div class="panel-body">
                     <h2 class="panel-title bootstrap-admin-content-title">
                     	基本情報の内容をご確認ください
					 </h2>
					  <hr>
                        <form role="form" method="post" th:action="@{/account/active}" th:object="${account}">
                            <fieldset>
                                <div class="section-inner">
								    <ul class="mylist">
									<li><i class="fa fa-envelope-o fa-fw"></i><p><span class="media__heading" th:text="*{email}"></span><br>
									        <span class="fnt10 text-normal">※メールアドレスはログイン時に使用します。</span></p>
									        <input id="email" name="email" type="hidden" th:field="*{email}" th:value="*{email}">
									</li>
									<hr class="border-b-1 ex-mt-10 ex-mb-10">
									<li><i class="fa fa-key fa-fw"></i>
									        <p>
									        <span class="media__heading">*******</span><br>
									        <span class="fnt10 form-appendix">※セキュリティ上伏せて表示しています。</span>
									        </p>
											<input type="hidden" name="password" th:field="*{password}">
									</li>
									<hr class="border-b-1 ex-mt-10 ex-mb-10">
									<li><i class="fa fa-smile-o fa-fw"></i>
									        <p>
									        <span class="media__heading" th:text="*{usrNm}"></span><br>
									        <input type="hidden" name="usrNm" th:field="*{usrNm}">
									        </p>
									</li>
									<hr class="border-b-1 ex-mt-10 ex-mb-10">
									<li><i class="fa fa-mobile fa-fw"></i>
								        <p>
								        <span class="media__heading" th:text="*{usrMb}"></span><br>
								        <input type="hidden" name="usrMb" th:field="*{usrMb}">
								        </p>
									</li>
									<hr class="border-b-1 ex-mt-10 ex-mb-10">

									<li><i class="fa fa-user fa-fw"></i>
								        <p>
								        <span class="media__heading" th:text="*{usrSex == 1 ? '女性' : '男性'}"></span><br>
								        <input type="hidden" name="usrSex" th:field="*{usrSex}">
								        </p>
									</li>
									<hr class="border-b-1 ex-mt-10 ex-mb-10">
									<li><i class="fa fa-calendar fa-fw"></i>
					                    <p>
								        <span class="media__heading" th:text="${#dates.format(account.usrBth, 'yyyy/MM/dd')}"></span><br>
								        <input type="hidden" name="usrBth" th:field="*{usrBth}">
								        </p>

									</li>
									</ul>
					            </div>
                                <!-- Change this to a button or input when using this as a form -->
                                <button onclick="history.back()" class="btn btn-lg btn-warning btn-block" >修正</button>
								<button type="submit" id="submit" class="btn btn-lg btn-success btn-block">登録</button>
                            </fieldset>
                        </form>
                    </div>
                </div>
        </div>
        <div th:if="${errMessage}" class="col-lg-12" id = "alertMessage">
                  <div class="alert alert-danger bootstrap-admin-alert"><button type="button" class="close" data-dismiss="alert">×</button><p th:text="${errMessage}"></p></div>
             </div>
    </div>
  </div>
</div>
</body>

</html>
