<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorator="adminContentOnly">
<head>
 <!-- Datepicker CSS -->
    <link th:href="@{/vendors/bootstrap-datepicker/css/datepicker.css}" href="/vendors/bootstrap-datepicker/css/datepicker.css" rel="stylesheet" media="screen" >
</head>
<body>
  <div layout:fragment="content">
    <div class="container">
        <div class="row">
                <div class="panel panel-default">
                    <div class="panel-heading">
                    <ul class="mod-step">
				        <li><span>メール送信</span></li>
				        <li class="on"><span>入力</span></li>
				        <li><span>確認</span></li>
				        <li><span>完了</span></li>
				    </ul>
				    <hr>
                     <h2 class="panel-title">
                     	基本情報を入力してください。
					 </h2>
                    </div>
                    <div class="panel-body">
                        <form role="form" method="post" th:action="@{/account/sendmail}" th:object="${account}">
                            <fieldset>
                                <div class="section-inner">
								    <ul class="mylist">
									<li><i class="fa fa-envelope-o fa-fw"></i><p><span class="media__heading" th:text="*{id}"></span><br>
									        <span class="fnt10 text-normal">※メールアドレスはログイン時に使用します。</span></p>
									        <input id="email" name="email" type="hidden" th:value="*{id}">
									</li>
									<hr class="border-b-1 ex-mt-10 ex-mb-10">
									<li><i class="fa fa-key fa-fw"></i>
									        <p>
									        <input type="password" name="password" class="form-text ex-mb-5 js-toggle-pass-mask" placeholder="パスワード" maxlength="30" id="newPassTextMask"><br>
									        <span class="fnt10 form-appendix">※半角英数字8文字以上18文字以内。半角英字、半角数字の両方を使用してください。</span>
									        </p>
									</li>
									<hr class="border-b-1 ex-mt-10 ex-mb-10">
									<li><i class="fa fa-smile-o fa-fw"></i>
									        <p>
									        <input type="text" name="name" class="form-text ex-mb-5 js-toggle-pass-mask" placeholder="名前" maxlength="30" id="newPassTextMask">
									        </p>
									</li>
									<hr class="border-b-1 ex-mt-10 ex-mb-10">
									<li><i class="fa fa-mobile fa-fw"></i>
									        <p>
									        <input type="text" name="tmobile" class="form-text ex-mb-5" placeholder="携帯電話" maxlength="30" id="newPassTextMask"><br>
									        <span class="fnt10 form-appendix">※半角数字のみ</span>
									        </p>
									</li>
									<hr class="border-b-1 ex-mt-10 ex-mb-10">
									
									<li><i class="fa fa-user fa-fw"></i>
									        
					                            <input type="radio" class="form-radio" name="usrSex" id=usrSex checked value="2" th:field="*{usrSex}" >
					                            <label for="man"><span class="text">男性</span></label>
					                       
					                            <input type="radio" class="form-radio" name="usrSex" id=usrSex value="1" th:field="*{usrSex}" >
					                            <label for="woman"><span class="text">女性</span></label>
									</li>
									<hr class="border-b-1 ex-mt-10 ex-mb-10">
									<li><i class="fa fa-calendar fa-fw"></i>
									<p>					                    
					                       <input type="text" class="form-text ex-mb-5　datepicker date-control" id="usrBth" name="usrBth" placeholder="生年月日" th:field="*{usrBth}" maxlength="15" /><br>
					                       <span class="fnt10 form-appendix ">※半角数字　例：19800501</span>
					                       <p class="color-red" th:if="${#fields.hasErrors('usrBth')}" th:errors="*{usrBth}">...</p>
					                 </p>
					                        <input id="birthDay" name="birthDay" type="hidden" value="">
									</li>
									</ul>
					            </div>
                                <!-- Change this to a button or input when using this as a form -->
                                <input type="submit" value="確認画面に進む" class="btn btn-lg btn-success btn-block" />
                            </fieldset>
                        </form>
                    </div>
                </div>
        </div>
        <div th:if="${errMessage}" class="col-lg-12" id = "alertMessage">
                  <div class="alert alert-danger bootstrap-admin-alert"><button type="button" class="close" data-dismiss="alert">×</button><p th:text="${errMessage}"></p></div>
             </div>
    </div>
  </div>
  <div layout:fragment="moreScripts">
    <!-- DataTables JavaScript -->
    <script th:src="@{/vendors/bootstrap-datepicker/js/bootstrap-datepicker.js}" type="text/javascript" src="/vendors/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>

    <!-- Page-Level Demo Scripts - Tables - Use for reference -->
    <script>
    $(document).ready(function() {
        $('#usrBth').datepicker();
    });
    </script>
</div>
</body>

</html>
