<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
  layout:decorator="admin">
<head>
    <!-- DataTables CSS -->
    <link th:href="@{/admin/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css}" rel="stylesheet" />

    <!-- DataTables Responsive CSS -->
    <link th:href="@{/admin/bower_components/datatables-responsive/css/dataTables.responsive.css}" rel="stylesheet" />

</head>

<body>
        <div layout:fragment="content">
            <div class="container">
                <!-- content -->
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="page-header bootstrap-admin-content-title">
                                <h2>ユーザー情報　更新</h2>
                            </div>
                        </div>
                    </div>

                    <p></p>

                    <div class="row">
                        <div class="col-md-8 col-lg-8">
			                <div class="well well-sm">
			                    <div>アップロードするファイルを選択して、アップロードボタンを押下してください。</div>
			                    <br />
			                    <form id="data_upload_form" enctype="multipart/form-data" method="post">
			                        <div class="form-group">
			                            <label>■ファイルパス：</label>
			                            <input type="file" id="upload_file" name="upload_file" required="" />
			                        </div>
			                        <div class="form-group">
			                            <input id="data_upload_button" type="submit" value="アップロード" />
			                        </div>
			                    </form>
			                </div>
			            </div>
                    </div>
                </div>
             <div th:if="${errMessage}" class="col-lg-12" id = "alertMessage">
                  <div class="alert alert-danger bootstrap-admin-alert"><button type="button" class="close" data-dismiss="alert">×</button><p th:text="${errMessage}"></p></div>
             </div>
         </div>

        </div>
        <!-- /layout:fragment="content" -->

<div layout:fragment="moreScripts">
    <!-- DataTables JavaScript -->
    <script th:src="@{/admin/bower_components/datatables/media/js/jquery.dataTables.min.js}"></script>
    <script th:src="@{/admin/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js}"></script>

    <!-- Page-Level Demo Scripts - Tables - Use for reference -->
    <script>
 // 主処理部
    $(function(){

        // アップロードボタンを押下した
        $("#data_upload_form").submit(function(event){
            // 要素規定の動作をキャンセルする
            event.preventDefault();

            var ajaxUrl = "uploadimage";

            if(window.FormData){
                var formData = new FormData($(this)[0]);

                $.ajax({
                    type : "POST",                  // HTTP通信の種類
                    url  : ajaxUrl,                 // リクエストを送信する先のURL
                    dataType : "text",              // サーバーから返されるデータの型
                    data : formData,                // サーバーに送信するデータ
                    processData : false,
                    contentType: false,
                }).done(function(data) {        // Ajax通信が成功した時の処理
                    alert(data);
                }).fail(function(XMLHttpRequest, textStatus, errorThrown) { // Ajax通信が失敗した時の処理
                	console.log(errorThrown);
                    alert("アップロードが失敗しました。");
                });
            }else{
                alert("アップロードに対応できていないブラウザです。");
            }
        });
    });
    </script>
</div>
</body>

</html>
