<!DOCTYPE html>
<html lang="jp"
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>HOMS</title>

    <!-- Bootstrap Core CSS -->
    <link th:href="@{/admin/bower_components/bootstrap/css/bootstrap.min.css}" href="../static/admin/bower_components/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

    <!-- MetisMenu CSS -->
    <link th:href="@{/admin/bower_components/metisMenu/metisMenu.min.css}" href="../static/admin/bower_components/metisMenu/metisMenu.min.css" rel="stylesheet" />

    <!-- Custom CSS -->
    <link th:href="@{/admin/css/sb-admin-2.css}" href="../static/admin/css/sb-admin-2.css" rel="stylesheet" />

    <!-- Custom Fonts -->
    <link th:href="@{/admin/bower_components/font-awesome/css/font-awesome.min.css}" href="../static/admin/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />

    <!-- Common Fonts -->
    <link th:href="@{/css/common.css}" href="../static/css/common.css" rel="stylesheet" type="text/css" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">HOMS v1.0</a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">

                <!-- /.dropdown -->

                <!-- /.dropdown -->

                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile(<span  th:text="${#authentication.principal.usrNm}"></span>)</a>
                        </li>
                        <li><a th:href="'/user/edit/' +${#authentication.principal.userId}"><i class="fa fa-gear fa-fw"></i> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="login.html" th:href="@{/logout}"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>

<!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li class="sidebar-search">
                            <div class="input-group custom-search-form">
                                <input type="text" class="form-control" placeholder="Search..." />
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>
                            <!-- /input-group -->
                        </li>
                        <li>
                            <a href="index.html"><i class="fa fa-dashboard fa-fw"></i> 掲示板</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-user fa-fw"></i> 人員管理<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                            　　　　　　　　　　　　　　　　　<li sec:authorize="hasRole('ROLE_ADMIN')">
                                    <a href="/user/users.html">人員一覧</a>
                                </li>
                                <li>
                                    <a href="flot.html">出張管理</a>
                                </li>
                                <li sec:authorize="hasRole('ROLE_ADMIN')">
                                    <a href="morris.html">手当管理</a>
                                </li>
                                <li>
                                    <a href="morris.html">宿泊先管理</a>
                                </li>
                                <li>
                                    <a href="morris.html">パスワードとビザ情報管理</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>

                        <li>
                            <a href="#"><i class="fa fa-user fa-fw"></i> 各種申請<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                            　　　　　　　　　　　　　　　　　　<li>
                                    <a href="flot.html">交通費</a>
                                </li>
                                <li>
                                    <a href="flot.html">支払費</a>
                                </li>
                                <li>
                                    <a href="morris.html">航空券</a>
                                </li>
                                <li>
                                    <a href="morris.html">有休情報管理申請表</a>
                                </li>
                                <li>
                                    <a href="/request/jimu/list">事務申請</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>

                        <li>
                            <a href="forms.html"><i class="fa fa-wrench fa-fw"></i> 設備管理</a>
                        </li>

                        <li>
                            <a href="#"><i class="fa fa-user fa-fw"></i> 顧客管理<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                            　　　　　　　　　　　　　　　　　　<li>
                                    <a href="flot.html">顧客一覧</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>


                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <!-- Page Content -->
        <div id="page-wrapper">
            <div layout:fragment="content"></div>
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script th:src="@{/admin/bower_components/jquery/jquery.min.js}" src="../static/admin/bower_components/jquery/jquery.min.js" ></script>

    <!-- Bootstrap Core JavaScript -->
    <script th:src="@{/admin/bower_components/bootstrap/js/bootstrap.min.js}" src="../static/admin/bower_components/bootstrap/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script th:src="@{/admin/bower_components/metisMenu/metisMenu.min.js}" src="../static/admin/bower_components/metisMenu/metisMenu.min.js"></script>

    <div layout:fragment="moreScripts" th:remove="tag"></div>

    <!-- Custom Theme JavaScript -->
    <script th:src="@{/admin/js/sb-admin-2.js}" src="../static/admin/js/sb-admin-2.js"></script>

</body>

</html>
